<template>
 <div>

  
  
  
 
    <v-app-bar fixed
      color="#00549A"
      nogutter
     
    >
    
     

      <v-toolbar-title font-family='BELLSLIM' class="title">Bell</v-toolbar-title>
   
     <v-btn  plain v-on:click="drawer=!drawer"  class="subtitle">
      Personal
    </v-btn>
    <v-btn  plain @click="drawer2=!drawer2"  class="subtitle">
      Small business
    </v-btn>
    <v-btn  plain @click="drawer3=!drawer3"  class="subtitle">
      Medium and large business
    </v-btn>
  

      <v-spacer></v-spacer>

      <v-text-field   mb-6 pa-4 rounded-pill class="search"
        hide-details 
        prepend-icon="mdi-magnify"
       
      ></v-text-field>
      

      <v-btn icon class="globe">
        <v-icon>mdi-earth</v-icon>
      </v-btn>

      <v-btn class="login" >
      Login / register
    </v-btn>
    
    
    </v-app-bar>
 
  <br><br>
  <br><br>

  
   <v-sheet  v-if="drawer"
        id="sheet-id"
        
        max-width="100%"
        height="500"
        class="sheet mx-auto"
        color="#FFFFFF"
      >
      <v-container class="grey lighten-5">
    <v-row
      class="mb-6"
     
    >
      <v-col
         v-for="heading in headings"
          :key="heading.title"
      >
        <v-list-item

          class="heading pa-5"
         color="#00549A"
        
         
        >
          {{heading.title}}
        </v-list-item>
      </v-col>
    </v-row>

     <v-row
      class="mb-6"
     
    >
      <v-col
         v-for="item in items"
          :key="item.title"
      >
        <v-list-item
          class="pa-5"
          tile
          :to="item.link"
          v-on:click="drawer=!drawer"
        
         
        >
          {{item.title}}
          
        </v-list-item>
      </v-col>
    </v-row>

     <v-row
      class="mb-6"
     
    >
      <v-col
         v-for="item in items2"
          :key="item.title"
      >
        <v-list-item
          class="pa-5"
          tile
        
         
        >
          {{item.title}}
        </v-list-item>
      </v-col>
    </v-row>

    <v-row
      class="mb-6"
     
    >
      <v-col
         v-for="item in items3"
          :key="item.title"
      >
        <v-list-item
          class="pa-5"
          tile
         color= #00549A;
        
         
        >
          {{item.title}}
        </v-list-item>
      </v-col>
    </v-row>

    <v-row
      class="mb-6"
     
    >
      <v-col
         v-for="item in items4"
          :key="item.title"
      >
        <v-list-item
          class=" pa-5"
          tile
        
         
        >
          {{item.title}}
        </v-list-item>
      </v-col>
    </v-row>
    
    <v-row
      class="mb-6"
     
    >
      <v-col
         v-for="item in items5"
          :key="item.title"
      >
        <v-list-item
          class=" pa-5"
          tile
        
         
        >
          {{item.title}}
        </v-list-item>
      </v-col>
    </v-row>
     </v-container>
   </v-sheet>

      <v-sheet  v-if="drawer2"
        id="sheet-id"
        
        max-width="100%"
        height="500"
        class="sheet mx-auto"
        color="#FFFFFF"
      >
      <v-container class="grey lighten-5">
    <v-row
      class="mb-6"
     
    >
      <v-col
         v-for="heading in headings2"
          :key="heading.title"
      >
        <v-list-item

          class="heading pa-5"
         color="#00549A"
        
         
        >
          {{heading.title}}
        </v-list-item>
      </v-col>
    </v-row>

     <v-row
      class="mb-6"
     
    >
      <v-col
         v-for="item in items"
          :key="item.title"
      >
        <v-list-item
          class="pa-5"
          tile
        
         
        >
          {{item.title}}
        </v-list-item>
      </v-col>
    </v-row>

     <v-row
      class="mb-6"
     
    >
      <v-col
         v-for="item in items6"
          :key="item.title"
      >
        <v-list-item
          class="pa-5"
          tile
        
         
        >
          {{item.title}}
        </v-list-item>
      </v-col>
    </v-row>

    <v-row
      class="mb-6"
     
    >
      <v-col
         v-for="item in items7"
          :key="item.title"
      >
        <v-list-item
          class="pa-5"
          tile
         color= #00549A;
        
         
        >
          {{item.title}}
        </v-list-item>
      </v-col>
    </v-row>

    <v-row
      class="mb-6"
     
    >
      <v-col
         v-for="item in items8"
          :key="item.title"
      >
        <v-list-item
          class="pa-5"
          tile
        
         
        >
          {{item.title}}
        </v-list-item>
      </v-col>
    </v-row>
    
    <v-row
      class="mb-6"
     
    >
      <v-col
         v-for="item in items9"
          :key="item.title"
      >
        <v-list-item
          class="pa-5"
          tile
        
         
        >
          {{item.title}}
        </v-list-item>
      </v-col>
    </v-row>
     </v-container>
      </v-sheet>
  
   <v-sheet  v-if="drawer3"
        id="sheet-id"
        
        max-width="100%"
        height="100%"
        class="sheet mx-auto"
        color="#FFFFFF"
      >
      <v-container class="grey lighten-5">
    <v-row
      class="mb-6"
     
    >
      <v-col
         v-for="item in items20"
          :key="item.title"
      >
        <v-list-item

          class="heading pa-5"
         color="#00549A"
        
         
        >
          {{item.title}}
        </v-list-item>
      </v-col>
    </v-row>

     <v-row
      class="mb-6"
     
    >
      <v-col
         v-for="item in items10"
          :key="item.title"
      >
        <v-list-item
          class="pa-5"
          tile
        
         
        >
          {{item.title}}
        </v-list-item>
      </v-col>
    </v-row>

     <v-row
      class="mb-6"
     
    >
      <v-col
         v-for="item in items11"
          :key="item.title"
      >
        <v-list-item
          class="pa-5"
          tile
        
         
        >
          {{item.title}}
        </v-list-item>
      </v-col>
    </v-row>

    <v-row
      class="mb-6"
     
    >
      <v-col
         v-for="item in items12"
          :key="item.title"
      >
        <v-list-item
          class=" pa-5"
          tile
         color= #00549A;
        
         
        >
          {{item.title}}
        </v-list-item>
      </v-col>
    </v-row>

    <v-row
      class="mb-6"
     
    >
      <v-col
         v-for="item in items13"
          :key="item.title"
      >
        <v-list-item
          class="pa-5"
          tile
        
         
        >
          {{item.title}}
        </v-list-item>
      </v-col>
    </v-row>
    
    <v-row
      class="mb-6"
     
    >
      <v-col
         v-for="item in items14"
          :key="item.title"
      >
        <v-list-item
          class=" pa-5"
          tile
        
         
        >
          {{item.title}}
        </v-list-item>
      </v-col>
    </v-row>
     <v-row
      class="mb-6"
     
    >
      <v-col
         v-for="item in items15"
          :key="item.title"
      >
        <v-list-item
          class="pa-5"
          tile
        
         
        >
          {{item.title}}
        </v-list-item>
      </v-col>
    </v-row>
     <v-row
      class="mb-6"
     
    >
      <v-col
         v-for="item in items16"
          :key="item.title"
      >
        <v-list-item
          class="pa-5"
          tile
        
         
        >
          {{item.title}}
        </v-list-item>
      </v-col>
    </v-row>
     <v-row
      class="mb-6"
     
    >
      <v-col
         v-for="item in items17"
          :key="item.title"
      >
        <v-list-item
          class="pa-5"
          tile
        
         
        >
          {{item.title}}
        </v-list-item>
      </v-col>
    </v-row>
     <v-row
      class="mb-6"
     
    >
      <v-col
         v-for="item in items18"
          :key="item.title"
      >
        <v-list-item
          class="pa-5"
          tile
        
         
        >
          {{item.title}}
        </v-list-item>
      </v-col>
    </v-row>
     <v-row
      class="mb-6"
     
    >
      <v-col
         v-for="item in items19"
          :key="item.title"
      >
        <v-list-item
          class=" pa-5"
          tile
        
         
        >
          {{item.title}}
        </v-list-item>
      </v-col>
    </v-row>
     </v-container>
   </v-sheet>

     
     

     
      <v-sheet v-if="drawer||drawer2||drawer3"
       max-width="100%"
        height="450"
        class="sheet2 mx-auto"
        color="#A9A9A9"
      >

      </v-sheet>
  </div>

</template>

<script>
import Tutorial from '../components/Tutorial.vue';
export default {
  components: { Tutorial },
  
  
  data() {
    return {
      drawer:false,
      drawer2:false,
      drawer3:false,
     
         headings: [
          { title: 'Mobility', icon: 'mdi-view-dashboard' },
          { title: 'Tv', icon: 'mdi-image' },
          { title: 'Internet', icon: 'mdi-help-box' },
          { title: 'Home phone', icon: 'mdi-view-dashboard' },
          { title: 'Smart home', icon: 'mdi-image' },
          { title: 'promotions', icon: 'mdi-help-box' },
           { title: 'Bundles', icon: 'mdi-help-box' },
        ],
         headings2: [
          { title: 'Mobility', icon: 'mdi-view-dashboard' },
          { title: 'Tv', icon: 'mdi-image' },
          { title: 'Internet', icon: 'mdi-help-box' },
          { title: 'Phone', icon: 'mdi-view-dashboard' },
          { title: 'Security automation', icon: 'mdi-image' },
          { title: 'Webhosting and designs', icon: 'mdi-help-box' },
           { title: 'Promotions', icon: 'mdi-help-box' },
        ],
        items: [
          { title: 'Devices', icon: 'mdi-view-dashboard', link:'/device' },
          { title: 'Fibe TV', icon: 'mdi-image' },
          { title: 'Internet packages', icon: 'mdi-help-box' },
           { title: 'Home phone packages', icon: 'mdi-view-dashboard' },
          { title: 'Smart home packages', icon: 'mdi-image' },
          { title: 'Promotions', icon: 'mdi-help-box' },
           { title: '', icon: 'mdi-help-box' },
        ],
        items1:[
             { title: 'Mobility plans', icon: 'mdi-view-dashboard' },
          { title: 'Fibe TV app', icon: 'mdi-image' },
          { title: 'wifi', icon: 'mdi-help-box' },
           { title: 'Long distance', icon: 'mdi-view-dashboard' },
          { title: 'Smart home device', icon: 'mdi-image' },
          { title: '', icon: 'mdi-help-box' },
           { title: '', icon: 'mdi-help-box' },
        ],
         items2:[
             { title: 'Accessories', icon: 'mdi-view-dashboard' },
          { title: 'Bell Satellite TV', icon: 'mdi-image' },
          { title: 'Fiber', icon: 'mdi-help-box' },
           { title: 'Features', icon: 'mdi-view-dashboard' },
          { title: '', icon: 'mdi-image' },
          { title: '', icon: 'mdi-help-box' },
           { title: '', icon: 'mdi-help-box' },
        ],
         items3:[
             { title: 'Connected things', icon: 'mdi-view-dashboard' },
          { title: '', icon: 'mdi-image' },
          { title: 'Internet Features', icon: 'mdi-help-box' },
           { title: '', icon: 'mdi-view-dashboard' },
          { title: '', icon: 'mdi-image' },
          { title: '', icon: 'mdi-help-box' },
           { title: '', icon: 'mdi-help-box' },
        ],
        items4:[
             { title: 'Travel', icon: 'mdi-view-dashboard' },
          { title: '', icon: 'mdi-image' },
          { title: 'Rural Internet packages', icon: 'mdi-help-box' },
           { title: '', icon: 'mdi-view-dashboard' },
          { title: '', icon: 'mdi-image' },
          { title: '', icon: 'mdi-help-box' },
           { title: '', icon: 'mdi-help-box' },
        ],
         items5:[
             { title: 'Prepaid', icon: 'mdi-view-dashboard' },
          { title: '', icon: 'mdi-image' },
          { title: '', icon: 'mdi-help-box' },
           { title: '', icon: 'mdi-view-dashboard' },
          { title: '', icon: 'mdi-image' },
          { title: '', icon: 'mdi-help-box' },
           { title: '', icon: 'mdi-help-box' },
        ],
        items6:[
             { title: 'Devices', icon: 'mdi-view-dashboard' },
          { title: 'Fibe TB programming', icon: 'mdi-image' },
          { title: 'Packages', icon: 'mdi-help-box' },
           { title: 'Packages', icon: 'mdi-view-dashboard' },
          { title: 'Packages', icon: 'mdi-image' },
          { title: 'web Conferencing', icon: 'mdi-help-box' },
           { title: 'Bundles', icon: 'mdi-help-box' },
        ],
        items7:[
             { title: 'Rate plans', icon: 'mdi-view-dashboard' },
          { title: 'Fibe TV receivers', icon: 'mdi-image' },
          { title: 'Fibre', icon: 'mdi-help-box' },
           { title: 'Features', icon: 'mdi-view-dashboard' },
          { title: 'Devices', icon: 'mdi-image' },
          { title: '', icon: 'mdi-help-box' },
           { title: '', icon: 'mdi-help-box' },
        ],
        items8:[
             { title: 'Travel', icon: 'mdi-view-dashboard' },
          { title: 'Satellite TV programming', icon: 'mdi-image' },
          { title: 'Add-ones', icon: 'mdi-help-box' },
           { title: 'Long distance', icon: 'mdi-view-dashboard' },
          { title: '', icon: 'mdi-image' },
          { title: 'Office 365', icon: 'mdi-help-box' },
           { title: '', icon: 'mdi-help-box' },
        ],
         items9:[
             { title: '', icon: 'mdi-view-dashboard' },
          { title: 'Satellite TV receivers', icon: 'mdi-image' },
          { title: '', icon: 'mdi-help-box' },
           { title: 'Conferencing', icon: 'mdi-view-dashboard' },
          { title: '', icon: 'mdi-image' },
          { title: '', icon: 'mdi-help-box' },
           { title: '', icon: 'mdi-help-box' },
        ],
          items10:[
             { title: 'Devices and rate plans', icon: 'mdi-view-dashboard' },
          { title: 'Smart cities', icon: 'mdi-image' },
          { title: 'Internet', icon: 'mdi-help-box' },
           { title: 'Bell Total connect', icon: 'mdi-view-dashboard' },
          { title: 'Colud compute', icon: 'mdi-image' },
          { title: 'Network Security', icon: 'mdi-help-box' },
          
        ],
          items11:[
             { title: 'Instant Communcation', icon: 'mdi-view-dashboard' },
          { title: 'Professional services', icon: 'mdi-image' },
          { title: 'Advanced network', icon: 'mdi-help-box' },
           { title: 'Voice', icon: 'mdi-view-dashboard' },
          { title: 'Colud connect', icon: 'mdi-image' },
          { title: 'Colud security', icon: 'mdi-help-box' },
          
        ],
          items12:[
             { title: 'Mobile Workforce', icon: 'mdi-view-dashboard' },
          { title: 'Fleet Management', icon: 'mdi-image' },
          { title: 'Virtual Ofice', icon: 'mdi-help-box' },
           { title: 'Collaboration and conferencing', icon: 'mdi-view-dashboard' },
          { title: 'Cloud backup', icon: 'mdi-image' },
          { title: '', icon: 'mdi-help-box' },
        ],
          items13:[
             { title: 'Mobile Management', icon: 'mdi-view-dashboard' },
          { title: 'Asset Management', icon: 'mdi-image' },
          { title: 'Virtual network services', icon: 'mdi-help-box' },
           { title: 'Contact center', icon: 'mdi-view-dashboard' },
          { title: 'Cloud managed services', icon: 'mdi-image' },
          { title: '', icon: 'mdi-help-box' },
        ],
          items14:[
             { title: 'Public sefety', icon: 'mdi-view-dashboard' },
          { title: 'Smart buliding', icon: 'mdi-image' },
          { title: 'Gobal networks', icon: 'mdi-help-box' },
           { title: '', icon: 'mdi-view-dashboard' },
          { title: 'Office 365', icon: 'mdi-image' },
          { title: '', icon: 'mdi-help-box' },
          
        ],
          items15:[
             { title: '', icon: 'mdi-view-dashboard' },
          { title: 'IOT services', icon: 'mdi-image' },
          { title: 'Managed wifi', icon: 'mdi-help-box' },
           { title: '', icon: 'mdi-view-dashboard' },
          { title: '', icon: 'mdi-image' },
          { title: '', icon: 'mdi-help-box' },
          
        ],
          items16:[
             { title: '', icon: 'mdi-view-dashboard' },
          { title: 'Satellite TV receivers', icon: 'mdi-image' },
          { title: '', icon: 'mdi-help-box' },
           { title: 'Conferencing', icon: 'mdi-view-dashboard' },
          { title: '', icon: 'mdi-image' },
          { title: '', icon: 'mdi-help-box' },
           
        ],
          items17:[
             { title: '', icon: 'mdi-view-dashboard' },
          { title: 'Partner program', icon: 'mdi-image' },
          { title: 'Broadcast', icon: 'mdi-help-box' },
           { title: '', icon: 'mdi-view-dashboard' },
          { title: '', icon: 'mdi-image' },
          { title: '', icon: 'mdi-help-box' },
           
        ],
          items18:[
             { title: '', icon: 'mdi-view-dashboard' },
          { title: 'Managed services', icon: 'mdi-image' },
          { title: '', icon: 'mdi-help-box' },
           { title: '', icon: 'mdi-view-dashboard' },
          { title: '', icon: 'mdi-image' },
          { title: '', icon: 'mdi-help-box' },
           
        ],
         items19:[
             { title: '', icon: 'mdi-view-dashboard' },
          { title: 'Professional services', icon: 'mdi-image' },
          { title: '', icon: 'mdi-help-box' },
           { title: '', icon: 'mdi-view-dashboard' },
          { title: '', icon: 'mdi-image' },
          { title: '', icon: 'mdi-help-box' },
          
        ],
        items20:[
             { title: 'Mobility', icon: 'mdi-view-dashboard' },
          { title: 'Internet of things', icon: 'mdi-image' },
          { title: 'Internet and private networks', icon: 'mdi-help-box' },
           { title: 'Communications', icon: 'mdi-view-dashboard' },
          { title: 'Cloud', icon: 'mdi-image' },
          { title: 'Security', icon: 'mdi-help-box' },
          
        ],

       
   
    }
    
  },


 methods:{
    find(){
    
     if (drawer) {
         drawer=!drawer;
      }
      else if(drawer2){
         drawer2=!drawer2;
      }
    }
 }
  
}
</script>

<style scoped>
.v-input{
  flex: inherit;
}
.title{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 35px;
  color: #ffffff;
  letter-spacing: 0;
  list-style: 22px;
  margin-left: 28px;
}
.subtitle{
  color: #C2CEDF;
  font-size: 20px;
  margin-left: 20px;
   text-transform: none;
}
.search{
  background-color: white;
  border-radius: 20px;
  padding: 1px 70px 1px 15px;
}
i.v-icon.v-icon {
  color: white;
   margin-left: 20px;
} 
.login{
    border:  solid white;
   color: #FFFFFF;
    margin-left: 20px;
     border-radius: 20px;
   
   
    text-transform: none;
  
}
.container {
    max-width: 100%;
}
.two-row{
      margin-bottom: auto;
      padding-left: 15px;
     

}
.heading{
  color:#00549A;
  
}
v-sheet.v-card:not(.v-sheet--outlined) {
    box-shadow: 0px;
}
.sheet2{
  margin-top: 10px;
   
}
.theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
   color: rgb(10, 10, 10);
}
.theme--light.v-btn.v-btn--has-bg {
    background-color: #00549A;
}

</style>


