<template>
    <div>
      <v-app>
          <br><br>
          <v-row>
              
              <v-col md="4" class="demo">
                  <v-card-title class="heading">Home/personal/Mobility/Devices/App iPhone 12 pro</v-card-title>
  <v-carousel class="ma-4 pa-5">
    <v-carousel-item
      v-for="(item,i) in items"
      :key="i"
      :src="item.src"
      reverse-transition="fade-transition"
      transition="fade-transition"
    ></v-carousel-item>
  </v-carousel>
  <v-row md="3" no-gutters class="ml-5">
                  <img class="img" src="phone.png" alt="">
                  <img class="img" src="phone_2.png" alt="">
                  <img class="img" src="phone_3.png" alt="">
                  <img class="img" src="phone.png" alt="">
              </v-row>

              <v-row>
                  <h4 class="ma-8">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos odit animi ipsa est impedit facilis laborum molestiae atque explicabo perspiciatis dolorem, amet consequatur tempore, sint, eveniet earum maiores corrupti quas!</h4>
              </v-row>
              </v-col>
              <v-col class="ml-9">
                  <v-card-title>Apple iphone pro 11</v-card-title>
                 
                   <v-row>
                      <v-col><v-card-title>Full price:  $140.00</v-card-title></v-col>
                  </v-row>
                  <v-row no-gutters class="mt-3 ml-3">
              <v-col md="2">
                <h4>$0.00</h4>
              </v-col>
              <v-col >
                <h4>$10.00/mo</h4>
              </v-col>
              <v-col>
                <h4>0%</h4>
              </v-col>
            </v-row>
            <v-row no-gutters class="mt-3 ml-3">
              <v-col md="2">
                <h4>down</h4>
              </v-col>
              <v-col>
                <h4>for 24 months</h4>
              </v-col>
              <v-col>
                <h4>APR</h4>
              </v-col>
            </v-row>
            <v-row no-gutters class="mt-3 ml-3">
              <v-col >
                <h4>Tax extra Requrired an eligible 2-years rate</h4>
              </v-col>
            </v-row>
            <v-row no-gutters class="mt-3 ml-3">
              <v-col>
                <h4>plan</h4>
              </v-col>
            </v-row>
            <v-row>
                <v-col>
                   <br><br>
                </v-col>
                </v-row>
                <v-card width="700px" class="pa-3">
                    <v-row>
                    <v-col>
                        <h4>Save upto 70%</h4>
                    </v-col>
                    
                    </v-row>
                    <v-row><v-col><h4>Only 24 months on SmartPay vs our device full price</h4></v-col></v-row>
                </v-card>
                <v-row>
                 
                    <v-col md="1" class="mt-5"><h4>color</h4></v-col>
                    <v-col><img class="img mt-4" src="phone.png" alt="">
                    <img class="img mt-4" src="phone_2.png" alt="">
                    </v-col>
                </v-row>
                <v-row><v-col md="1"><h4>Highlihts</h4></v-col>
                <v-col>
                  <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores cupiditate dolorum at fugit consectetur dolores, dicta impedit corporis, omnis non fugiat, odit nemo! Quas reprehenderit ut aut fuga adipisci quod.</h4> 
                <v-row>
                  <v-col>
                    <br><br>
                    <h4>Incredible video</h4>
                    <br><br>
                    <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe eius impedit velit error harum beatae tenetur, quisquam ad hic, facere ex est modi deleniti, praesentium amet quasi ipsum rem quidem.</h4>
                  </v-col>
                  <v-row>
                  <v-col>
                    <br><br>
                    <h4> Faster processing power</h4>
                    <br><br>
                    <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe eius impedit velit error harum beatae tenetur, quisquam ad hic, facere ex est modi deleniti, praesentium amet quasi ipsum rem quidem.</h4>
                  </v-col>
                  </v-row>
                </v-row>
                <br><br>
                <v-row>
                  
                  <v-col md="3"><h2>Product specification</h2></v-col>
                </v-row>
                <br><br>
                <v-row>
                  
                  <v-col md="3"><h2>Device memory</h2></v-col>
                </v-row>
                 <v-row>
                  
                  <v-col md="3"><h4>What is device memory capacity</h4></v-col>
                </v-row>
                 <v-row>
                  
                  <v-col ><h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id autem dolorum sint aliquid, aspernatur illo deleniti. Non ut atque cupiditate praesentium voluptatem laudantium eius ipsam earum libero omnis. Autem, distinctio!</h4></v-col>
                </v-row>
                <v-row>
                  
                  <v-col md="3"><h4>What is data</h4></v-col>
                </v-row>
                <v-row>
                  
                  <v-col ><h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores unde recusandae itaque repellat quae ducimus error alias modi quibusdam, dignissimos fugit optio, saepe, incidunt repudiandae quisquam cupiditate amet facere quos!</h4></v-col>
                </v-row>
                </v-col></v-row>
              
              </v-col>
              
          </v-row>
          
      </v-app>
  </div>
</template>
<script>
export default {
    data(){
        return{
            items: [
          {
            src: 'phone.png',
          },
          {
            src: 'phone_2.png',
          },
          {
            src: 'phone_3.png',
          },
          {
            src: 'phone.png',
          },
        ],
        }
    },
}
</script>
<style>
.demo{
  
}
.img{
    width: 130px;
    height: 100px;
}
</style>