<template>
<div>
  <v-app light>

     <v-row >
  <v-col md="3" no-gutters> 
    
     <v-sheet
  color="success"
  height="100%"
  outlined
  width="400"
>


<v-card-title class="heading">Home/personal/Mobility/Devices</v-card-title>
<v-card-title no-gutters class="title">Catagory</v-card-title>
<v-radio-group no-gutters v-model="radioGroup" class="radio">
      <v-radio
        v-for="n in 5"
        :key="n"
        :label="`Radio ${n}`"
        :value="n"
      ></v-radio>
    </v-radio-group>

    <v-card-title no-gutters class="title">Brands</v-card-title>
    
     <v-checkbox no-gutters  class="checkbox pa-0"
        v-for="n in 5"
        :key="n"
        :label="`Checkbox ${n}`"
        :value="n"
    ></v-checkbox>
      <v-dialog
        transition="dialog-top-transition"
        max-width="90%"
        
      >
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            class="ml-5"
            v-bind="attrs"
            v-on="on"
          >more</v-btn>
        </template>
        <template v-slot:default="dialog">
          <v-card width="100%" heigh="100%">
            <v-toolbar
              color="primary"
              dark
            >
            
             <v-tabs
      
      show-arrows
    >
      <v-tabs-slider color="teal lighten-3"></v-tabs-slider>

      <v-tab
        v-for="alphas in alpha"
        :key="alphas.letter"
        :href="'#tab-' + alphas.letter"
      >
        {{alphas.letter}}
      </v-tab>
    </v-tabs>
            </v-toolbar>
            <br><br>
           <h4 class="ml-7" >A</h4> 
           
     <v-checkbox no-gutters  class="checkbox pa-0"
        v-for="n in 10"
        :key="n"
        :label="`Checkbox ${n}`"
        :value="n"
    ></v-checkbox>
            
            <v-card-actions class="justify-start">
              
              <v-btn 
                text
                @click="dialog.value = false"
              >Close</v-btn>
              <v-spacer></v-spacer>
              <v-btn color="primary">Apply filter</v-btn>
            </v-card-actions>
          </v-card>
        </template>
      </v-dialog>
   
<v-card-title class="title">Price range</v-card-title>
 <v-col cols="12">
       
       

      
      <input class="range title ml-4 pa-0" type="range" min="50" max="100" step="0.01" value="50">
    
       
      </v-col>
      <v-row justify-center class="row">
        <v-btn class="ml-12">min</v-btn>
        <v-btn class="ml-12">max</v-btn>
        <p><v-icon fa fa-angle-right></v-icon></p>
      </v-row>
      	
      <v-card-title class="title">Discount</v-card-title>
      <input class="range title ml-4 pa-0" type="range" min="50" max="100" step="0.01" value="50">
       <v-card-title class="title">Availability</v-card-title>
       <v-checkbox class="radio"
        :label="`Out of stock`"
        
      ></v-checkbox>
       <v-card-title class="title">Operating system</v-card-title>
       <v-checkbox class="radio"
        :label="`Android`"
        
      ></v-checkbox>

      <v-dialog
      v-model="dialog"
     
      max-width="50%"
      height="900px"
      scrollable
    >
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          class="ml-4"
          
          v-bind="attrs"
          v-on="on"
        >
          more
        </v-btn>
      </template>
      <v-card width=70% height="100%">
        <v-card-title>Select Operating System</v-card-title>
        <v-divider></v-divider>
        <v-card-text style="height: 300px;">
          <v-checkbox no-gutters  class="checkbox pa-0"
        v-for="n in 15"
        :key="n"
        :label="`Checkbox ${n}`"
        :value="n"
    ></v-checkbox>
     
    
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-btn
            color="blue darken-1"
            text
            @click="dialog = false"
          >
            Close
          </v-btn>
          <v-btn
            color="blue darken-1"
            text
            @click="dialog = false"
          >
            Save
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn color="filter-sub  primary ml-12" >apply filter</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
       <v-card-title class="title">Average customer review</v-card-title>
       <v-row>
         <v-rating
       class="rating ma-2"
      v-model="rating"
      icon-label="custom icon label text {0} of {1}"
       background-color="white"
        color="blue"
        dense
        half-increments
        hover
    ></v-rating>
    <h4  class="h4 ma-2" >4 stars and up</h4>
    </v-row>
     <v-row>
         <v-rating
       class="rating ma-2"
      v-model="rating2"
      icon-label="custom icon label text {0} of {1}"
       background-color="white"
        color="blue"
        dense
        half-increments
        hover
    ></v-rating>
    <h4  class="h4 ma-2" >3 stars and up</h4>
    </v-row>
     <v-row>
         <v-rating
       class="rating ma-2"
      v-model="rating3"
      icon-label="custom icon label text {0} of {1}"
       background-color="white"
        color="blue"
        dense
        half-increments
        hover
    ></v-rating>
    <h4  class="h4 ma-2" >2 stars and up</h4>
    </v-row>
     <v-row>
         <v-rating
       class="rating ma-2"
      v-model="rating4"
      icon-label="custom icon label text {0} of {1}"
       background-color="white"
        color="blue"
        dense
        half-increments
        hover
    ></v-rating>
    <h4  class="h4 ma-2" >1 stars and up</h4>
    </v-row>
</v-sheet>

     </v-col>
  
  <v-col>
    <v-row no-gutters>
      <v-col> 
        <br><br>
        
        <v-container no-gutters   class="filter">

       
    
       <v-select class="filter-sub pa-5"
          :items="itemo"
          placeholder="Sort by"
          dense
          outlined
          color="transparent"
        ></v-select>
        </v-container>
         </v-col>
    </v-row>

     <v-row no-gutters>
      <v-col class="toggle"> 
         <v-switch
      v-model="switch1"
      
    ></v-switch> 
    </v-col>
    </v-row>
    
    <v-row no-gutters>
      <v-col class="line"> 
        <hr size="12" width="900px" color="#D3D3D3"> 
        
        
         </v-col>
    </v-row>

    
     
    <v-card>
       <v-row no-gutters class="mt-4">
       <v-col no-gutters md="3" class="one"> 
      <img src="phone.png" alt="">
       </v-col>
  
   <v-col>
     <v-row no-gutters>
      <v-col no-gutters class="two mt-3"> <v-card-title>Apple iphone pro 11</v-card-title> </v-col>
     </v-row>

     <v-row no-gutters>
      <v-col class="three offset-mt-3"> <v-card-title>Full price:  $140.00</v-card-title> </v-col>
      
       <v-col> 
     <v-btn class="mt-3" width="350px" to="/device_info">View all details</v-btn>   
        <v-dialog
        transition="dialog-top-transition"
        max-width="95%"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            color="primary"
            v-bind="attrs"
            v-on="on"
            width="350px"
            
          >Quick view</v-btn>
        </template>
        <template v-slot:default="dialog" >
          <v-card width="100%" height="90%">
            <v-row>
        <v-col md="5" class="demo">
         <br><br>        
  <v-carousel class="ma-2 pa-12" border="red">
    <v-carousel-item
      v-for="(item,i) in items"
      :key="i"
      :src="item.src"
     
      reverse-transition="fade-transition"
      transition="fade-transition"
    ></v-carousel-item>
  </v-carousel>
  <v-row md="3" no-gutters class="ml-5">
                  <img class="img" src="phone.png" alt="">
                  <img class="img" src="phone_2.png" alt="">
                  <img class="img" src="phone_3.png" alt="">
                  <img class="img" src="phone.png" alt="">
              </v-row>

             
              </v-col>
              
              <v-col>
                <br><br>
              <v-row no-gutters class="mt-3 ml-5">
                <v-col>
     <v-card-title>Apple iphone pro 11</v-card-title>
          
                </v-col>
              </v-row>
           <v-row no-gutters class="mt-3 ml-5">
                      <v-col><v-card-title>Full price:  $140.00</v-card-title></v-col>
                  </v-row>
                  <v-row no-gutters class="mt-3 ml-9">
              <v-col md="2">
                <h4>$0.00</h4>
              </v-col>
              <v-col >
                <h4>$10.00/mo</h4>
              </v-col>
              <v-col>
                <h4>0%</h4>
              </v-col>
            </v-row>
            <v-row no-gutters class="mt-3 ml-9">
              <v-col md="2">
                <h4>down</h4>
              </v-col>
              <v-col>
                <h4>for 24 months</h4>
              </v-col>
              <v-col>
                <h4>APR</h4>
              </v-col>
            </v-row>
            <v-row no-gutters class="mt-3 ml-9">
              <v-col >
                <h4>Tax extra Requrired an eligible 2-years rate</h4>
              </v-col>
            </v-row>
            <v-row no-gutters class="mt-3 ml-9">
              <v-col>
                <h4>plan</h4>
              </v-col>
            </v-row>
          
                <v-card outlined width="700px" class="mt-3 ml-8" >
                    <v-row>
                    <v-col>
                        <h4>Save upto 70%</h4>
                    </v-col>
                    
                    </v-row>
                    <v-row><v-col><h4>Only 24 months on SmartPay vs our device full price</h4></v-col></v-row>
                </v-card>
           
                <v-row>
                    <v-col md="1" class="ml-5"><h4>color</h4></v-col>
                    <v-col><img class="img" src="phone.png" alt="">
                    <img class="img" src="phone_2.png" alt="">
                    </v-col>
                </v-row>
               <v-row class="ml-7">
                 <v-col><h4>SKU namme</h4></v-col>
               </v-row>
               <v-row class="ml-7">
                 <v-col><h4>Product Availability</h4></v-col>
               </v-row>
               <v-row class="ml-7">
                 <v-col><h4>Product manager</h4></v-col>
               </v-row>
               <v-row class="ml-7">
                 <v-col><h4>promotion</h4></v-col>
               </v-row>
               <v-row class="ml-7">
                 <v-col><h4>Total country</h4></v-col>
               </v-row>
                <v-row class="ml-7">
                 <v-col><v-btn width="350px" color="primary">View details</v-btn></v-col>
               </v-row>
               <v-row margin-left="90%">
                 <v-col> <v-btn
                text
                @click="dialog.value = false"
              >Close</v-btn></v-col>
               </v-row>
              
            </v-col>


            
            </v-row>
            
          </v-card>
        </template>
      </v-dialog>
      
      
      </v-col>
     
     
     </v-row>

     <v-row>
      <v-col no-gutters class="four"> 
        
        <v-card class="box pa-4" outlined rounded>
          <v-row no-gutters class="mt-3 ml-3">
            <v-col>
              <h4>From</h4>
            </v-col>
            </v-row>
            <v-row no-gutters class="mt-3 ml-3">
              <v-col md="2">
                <h4>$0.00</h4>
              </v-col>
              <v-col >
                <h4>$10.00/mo</h4>
              </v-col>
              <v-col>
                <h4>0%</h4>
              </v-col>
            </v-row>
            <v-row no-gutters class="mt-3 ml-3">
              <v-col md="2">
                <h4>down</h4>
              </v-col>
              <v-col>
                <h4>for 24 months</h4>
              </v-col>
              <v-col>
                <h4>APR</h4>
              </v-col>
            </v-row>
            <v-row no-gutters class="mt-3 ml-3">
              <v-col >
                <h4>Tax extra Requrired an eligible 2-years rate</h4>
              </v-col>
            </v-row>
            <v-row no-gutters class="mt-3 ml-3">
              <v-col>
                <h4>plan</h4>
              </v-col>
            </v-row>
          
        </v-card>
        
      </v-col>
         
    </v-row>
     
     

  </v-col>

  
</v-row>
    </v-card>
    
<v-card>
       <v-row no-gutters class="mt-4">
       <v-col no-gutters md="3" class="one"> 
      <img src="phone_2.png" alt="">
       </v-col>
  
      <v-col>
     <v-row no-gutters>
      <v-col no-gutters class="two mt-3"> <v-card-title>Apple iphone pro 11</v-card-title> </v-col>
     </v-row>

     <v-row no-gutters>
      <v-col class="three offset-mt-3"> <v-card-title>Full price:  $140.00</v-card-title> </v-col>

       <v-col> 
     <v-btn class="mt-3" width="350px" to="/device_info">View all details</v-btn>   
        <v-dialog
        transition="dialog-top-transition"
        max-width="95%"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            color="primary"
            v-bind="attrs"
            v-on="on"
            width="350px"
            
          >Quick view</v-btn>
        </template>
        <template v-slot:default="dialog" >
          <v-card width="100%" height="90%">
            <v-row>
        <v-col md="5" class="demo">
         <br><br>        
  <v-carousel class="ma-2 pa-12" border="red">
    <v-carousel-item
      v-for="(item,i) in items"
      :key="i"
      :src="item.src"
     
      reverse-transition="fade-transition"
      transition="fade-transition"
    ></v-carousel-item>
  </v-carousel>
  <v-row md="3" no-gutters class="ml-5">
                  <img class="img" src="phone.png" alt="">
                  <img class="img" src="phone_2.png" alt="">
                  <img class="img" src="phone_3.png" alt="">
                  <img class="img" src="phone.png" alt="">
              </v-row>

             
              </v-col>
              
              <v-col>
                <br><br>
              <v-row no-gutters class="mt-3 ml-5">
                <v-col>
     <v-card-title>Apple iphone pro 11</v-card-title>
          
                </v-col>
              </v-row>
           <v-row no-gutters class="mt-3 ml-5">
                      <v-col><v-card-title>Full price:  $140.00</v-card-title></v-col>
                  </v-row>
                  <v-row no-gutters class="mt-3 ml-9">
              <v-col md="2">
                <h4>$0.00</h4>
              </v-col>
              <v-col >
                <h4>$10.00/mo</h4>
              </v-col>
              <v-col>
                <h4>0%</h4>
              </v-col>
            </v-row>
            <v-row no-gutters class="mt-3 ml-9">
              <v-col md="2">
                <h4>down</h4>
              </v-col>
              <v-col>
                <h4>for 24 months</h4>
              </v-col>
              <v-col>
                <h4>APR</h4>
              </v-col>
            </v-row>
            <v-row no-gutters class="mt-3 ml-9">
              <v-col >
                <h4>Tax extra Requrired an eligible 2-years rate</h4>
              </v-col>
            </v-row>
            <v-row no-gutters class="mt-3 ml-9">
              <v-col>
                <h4>plan</h4>
              </v-col>
            </v-row>
          
                <v-card outlined width="700px" class="mt-3 ml-8" >
                    <v-row>
                    <v-col>
                        <h4>Save upto 70%</h4>
                    </v-col>
                    
                    </v-row>
                    <v-row><v-col><h4>Only 24 months on SmartPay vs our device full price</h4></v-col></v-row>
                </v-card>
           
                <v-row>
                    <v-col md="1" class="ml-5"><h4>color</h4></v-col>
                    <v-col><img class="img" src="phone.png" alt="">
                    <img class="img" src="phone_2.png" alt="">
                    </v-col>
                </v-row>
               <v-row class="ml-7">
                 <v-col><h4>SKU namme</h4></v-col>
               </v-row>
               <v-row class="ml-7">
                 <v-col><h4>Product Availability</h4></v-col>
               </v-row>
               <v-row class="ml-7">
                 <v-col><h4>Product manager</h4></v-col>
               </v-row>
               <v-row class="ml-7">
                 <v-col><h4>promotion</h4></v-col>
               </v-row>
               <v-row class="ml-7">
                 <v-col><h4>Total country</h4></v-col>
               </v-row>
                <v-row class="ml-7">
                 <v-col><v-btn width="350px" color="primary">View details</v-btn></v-col>
               </v-row>
               <v-row margin-left="90%">
                 <v-col> <v-btn
                text
                @click="dialog.value = false"
              >Close</v-btn></v-col>
               </v-row>
              
            </v-col>


            
            </v-row>
            
          </v-card>
        </template>
      </v-dialog>
      
      
      </v-col>
      
     </v-row>

     <v-row>
      <v-col no-gutters class="four"> 
        
        <v-card class="box pa-4" outlined rounded>
          <v-row no-gutters class="mt-3 ml-3">
            <v-col>
              <h4>From</h4>
            </v-col>
            </v-row>
            <v-row no-gutters class="mt-3 ml-3">
              <v-col md="2">
                <h4>$0.00</h4>
              </v-col>
              <v-col >
                <h4>$10.00/mo</h4>
              </v-col>
              <v-col>
                <h4>0%</h4>
              </v-col>
            </v-row>
            <v-row no-gutters class="mt-3 ml-3">
              <v-col md="2">
                <h4>down</h4>
              </v-col>
              <v-col>
                <h4>for 24 months</h4>
              </v-col>
              <v-col>
                <h4>APR</h4>
              </v-col>
            </v-row>
            <v-row no-gutters class="mt-3 ml-3">
              <v-col >
                <h4>Tax extra Requrired an eligible 2-years rate</h4>
              </v-col>
            </v-row>
            <v-row no-gutters class="mt-3 ml-3">
              <v-col>
                <h4>plan</h4>
              </v-col>
            </v-row>
          
        </v-card>
        
         </v-col>
         
    </v-row>
     
     

  </v-col>

  
</v-row>
    </v-card>
        
<v-card>
       <v-row no-gutters class="mt-4">
       <v-col no-gutters md="3" class="one"> 
      <img src="phone_3.png" alt="">
       </v-col>
  
      <v-col>
     <v-row no-gutters>
      <v-col no-gutters class="two mt-3"> <v-card-title>Apple iphone pro 11</v-card-title> </v-col>
     </v-row>

     <v-row no-gutters>
      <v-col class="three offset-mt-3"> <v-card-title>Full price:  $140.00</v-card-title> </v-col>
     
      <v-col> 
     <v-btn class="mt-3" width="350px" to="/device_info">View all details</v-btn>   
        <v-dialog
        transition="dialog-top-transition"
        max-width="95%"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            color="primary"
            v-bind="attrs"
            v-on="on"
            width="350px"
            
          >Quick view</v-btn>
        </template>
        <template v-slot:default="dialog" >
          <v-card width="100%" height="90%">
            <v-row>
        <v-col md="5" class="demo">
         <br><br>        
  <v-carousel class="ma-2 pa-12" border="red">
    <v-carousel-item
      v-for="(item,i) in items"
      :key="i"
      :src="item.src"
     
      reverse-transition="fade-transition"
      transition="fade-transition"
    ></v-carousel-item>
  </v-carousel>
  <v-row md="3" no-gutters class="ml-5">
                  <img class="img" src="phone.png" alt="">
                  <img class="img" src="phone_2.png" alt="">
                  <img class="img" src="phone_3.png" alt="">
                  <img class="img" src="phone.png" alt="">
              </v-row>

             
              </v-col>
              
              <v-col>
                <br><br>
              <v-row no-gutters class="mt-3 ml-5">
                <v-col>
     <v-card-title>Apple iphone pro 11</v-card-title>
          
                </v-col>
              </v-row>
           <v-row no-gutters class="mt-3 ml-5">
                      <v-col><v-card-title>Full price:  $140.00</v-card-title></v-col>
                  </v-row>
                  <v-row no-gutters class="mt-3 ml-9">
              <v-col md="2">
                <h4>$0.00</h4>
              </v-col>
              <v-col >
                <h4>$10.00/mo</h4>
              </v-col>
              <v-col>
                <h4>0%</h4>
              </v-col>
            </v-row>
            <v-row no-gutters class="mt-3 ml-9">
              <v-col md="2">
                <h4>down</h4>
              </v-col>
              <v-col>
                <h4>for 24 months</h4>
              </v-col>
              <v-col>
                <h4>APR</h4>
              </v-col>
            </v-row>
            <v-row no-gutters class="mt-3 ml-9">
              <v-col >
                <h4>Tax extra Requrired an eligible 2-years rate</h4>
              </v-col>
            </v-row>
            <v-row no-gutters class="mt-3 ml-9">
              <v-col>
                <h4>plan</h4>
              </v-col>
            </v-row>
          
                <v-card outlined width="700px" class="mt-3 ml-8" >
                    <v-row>
                    <v-col>
                        <h4>Save upto 70%</h4>
                    </v-col>
                    
                    </v-row>
                    <v-row><v-col><h4>Only 24 months on SmartPay vs our device full price</h4></v-col></v-row>
                </v-card>
           
                <v-row>
                    <v-col md="1" class="ml-5"><h4>color</h4></v-col>
                    <v-col><img class="img" src="phone.png" alt="">
                    <img class="img" src="phone_2.png" alt="">
                    </v-col>
                </v-row>
               <v-row class="ml-7">
                 <v-col><h4>SKU namme</h4></v-col>
               </v-row>
               <v-row class="ml-7">
                 <v-col><h4>Product Availability</h4></v-col>
               </v-row>
               <v-row class="ml-7">
                 <v-col><h4>Product manager</h4></v-col>
               </v-row>
               <v-row class="ml-7">
                 <v-col><h4>promotion</h4></v-col>
               </v-row>
               <v-row class="ml-7">
                 <v-col><h4>Total country</h4></v-col>
               </v-row>
                <v-row class="ml-7">
                 <v-col><v-btn width="350px" color="primary">View details</v-btn></v-col>
               </v-row>
               <v-row margin-left="90%">
                 <v-col> <v-btn
                text
                @click="dialog.value = false"
              >Close</v-btn></v-col>
               </v-row>
              
            </v-col>


            
            </v-row>
            
          </v-card>
        </template>
      </v-dialog>
      
      
      </v-col>
     </v-row>

     <v-row>
      <v-col no-gutters class="four"> 
        
        <v-card class="box pa-4" outlined rounded>
          <v-row no-gutters class="mt-3 ml-3">
            <v-col>
              <h4>From</h4>
            </v-col>
            </v-row>
            <v-row no-gutters class="mt-3 ml-3">
              <v-col md="2">
                <h4>$0.00</h4>
              </v-col>
              <v-col >
                <h4>$10.00/mo</h4>
              </v-col>
              <v-col>
                <h4>0%</h4>
              </v-col>
            </v-row>
            <v-row no-gutters class="mt-3 ml-3">
              <v-col md="2">
                <h4>down</h4>
              </v-col>
              <v-col>
                <h4>for 24 months</h4>
              </v-col>
              <v-col>
                <h4>APR</h4>
              </v-col>
            </v-row>
            <v-row no-gutters class="mt-3 ml-3">
              <v-col >
                <h4>Tax extra Requrired an eligible 2-years rate</h4>
              </v-col>
            </v-row>
            <v-row no-gutters class="mt-3 ml-3">
              <v-col>
                <h4>plan</h4>
              </v-col>
            </v-row>
          
        </v-card>
        
         </v-col>
         
    </v-row>
     
     

  </v-col>

  
</v-row>
    </v-card>
    
  </v-col>

  
</v-row>

  <v-row>




  
  
      
</v-row>



   </v-app>
  </div>
</template>

<script>
  export default {
    data () {
      return {
         rating: 4,
         rating2: 3,
         rating3: 2,
         rating4: 1,
          switch1: true,

        ex3: {  val: 50, color: 'red' },
        itemo: ['Featured', 'Price: low to high', 'Price: high to low', 'Customer reviews','Newest arrivals'],
         items: [
          {
            src: 'phone.png',
          },
          {
            src: 'phone_2.png',
          },
          {
            src: 'phone_3.png',
          },
          {
            src: 'phone.png',
          },
        ],
        alpha: [

          {
            letter: 'A',
          },
           {
            letter: 'B',
          },
           {
            letter: 'C',
          },
           {
            letter: 'D',
          },
           {
            letter: 'E',
          },
           {
            letter: 'F',
          },
           {
            letter: 'G',
          },
           {
            letter: 'H',
          },
           {
            letter: 'I',
          },
           {
            letter: 'J',
          },
           {
            letter: 'K',
          },
           {
            letter: 'L',
          },
           {
            letter: 'M',
          },
           {
            letter: 'N',
          },
           {
            letter: 'O',
          },
           {
            letter: 'P',
          },
           {
            letter: 'Q',
          },
           {
            letter: 'R',
          },
           {
            letter: 'S',
          },
           {
            letter: 'T',
          },
           {
            letter: 'U',
          },
           {
            letter: 'V',
          },
           {
            letter: 'W',
          },
           {
            letter: 'X',
          },
           {
            letter: 'Y',
          },
           {
            letter: 'Z',
          },
        ],
      }
    },
    
    
  }
</script>

<style>

.box{
  border: 1px solid #110dfd;
}
.one{
   
    height: 100%;
}
.two{
    margin-left: 200px;
}
.three{
   margin-left: 200px;
}
.four{
    margin-left: 200px;
}
.five{
    background-color: aqua;
    height: 50px;
}
.v-application .success {
     background-color: #ffffff; 
     border-color: #ffffff; 
}
.heading{
  padding: 0.5rem;
}
.title{
  margin-left: 10px;
}
.radio{
  margin-left: 20px;
}
.row{
  margin: 0.5rem;
}
v-btn:not(.v-btn--round).v-size--default {
    height: 36px;
    min-width: 64px;
    padding: 0 16px;
    margin: auto;
   
}
.slider{
  height: 10dp;
}
.range{
  margin-left: 4ex;
  width: 75%;
}
.checkbox{
   margin-left: 20px;
}
.mdi:before, .mdi-set {
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    color: blue;
    -moz-osx-font-smoothing: grayscale;
}
.h4{
  margin-left: 20px;
  font-size:20px;
  font-weight:normal;
}
.rating{
  margin-left: 10px;
  
  }
.filter{
   width: 25%;
   margin-left: 75%;height: 65px;
  
  }
.v-text-field--filled.v-input--dense.v-text-field--single-line > .v-input__control > .v-input__slot, .v-text-field--filled.v-input--dense.v-text-field--outlined > .v-input__control > .v-input__slot, .v-text-field--filled.v-input--dense.v-text-field--outlined.v-text-field--filled > .v-input__control > .v-input__slot, .v-text-field--full-width.v-input--dense.v-text-field--single-line > .v-input__control > .v-input__slot, .v-text-field--full-width.v-input--dense.v-text-field--outlined > .v-input__control > .v-input__slot, .v-text-field--full-width.v-input--dense.v-text-field--outlined.v-text-field--filled > .v-input__control > .v-input__slot, .v-text-field--outlined.v-input--dense.v-text-field--single-line > .v-input__control > .v-input__slot, .v-text-field--outlined.v-input--dense.v-text-field--outlined > .v-input__control > .v-input__slot, .v-text-field--outlined.v-input--dense.v-text-field--outlined.v-text-field--filled > .v-input__control > .v-input__slot {
    /* min-height: 40px; */
    border: 1px solid rgb(55, 0, 255);
    border-radius: 20px;
}
.line{
  
   width:100%;
   
}
.toggle{
   width: 200px;
   margin-left: 90%;
}
.img{
    width: 130px;
    height: 100px;
    margin-left: 20px;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
 
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
   margin-top: 10px;
}
.filter-sub {
  margin-left: 500px;
}
</style>
